name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material
          pip install mkdocs-techdocs-core
          pip install mkdocs-include-markdown-plugin
      - name: Deploy docs
        run: |
          mkdocs gh-deploy --force \
                           --config-file mkdocs.yml \
                           --remote-branch gh-pages \
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}